@model RecipeDb
@{
    ViewData["Title"] = "AddRecipe";
}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<h1>Add Recipe</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewRecipe" id="modalForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group" id="ingredients">
                <label asp-for="Ingredients" class="control-label"></label>
                <textarea asp-for="Ingredients" class="form-control"></textarea>
                <span asp-validation-for="Ingredients" class="text-danger"></span><br />

            </div>

            <div class="form-group" id="steps">
                <label asp-for="Steps" class="control-label"></label>
                <textarea asp-for="Steps" class="form-control"></textarea>
                <span asp-validation-for="Steps" class="text-danger"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span><br />
            </div>

            <div id="Servings">
                <label asp-for="Servings" class="control-label"></label><br />
                <input asp-for="Servings" type="number" />
                <span asp-validation-for="Servings" class="text-danger"></span><br />
            </div>

            <div id="PrepTime">
                <br />
                <label asp-for="PrepTime" class="control-label"></label><br />
                <input asp-for="PrepTime" type="number" />
                <span asp-validation-for="PrepTime" class="text-danger"></span><br />
            </div>

            <div id="CookTime">
                <label asp-for="CookTime" class="control-label"></label><br />
                <input asp-for="CookTime" type="number" />
                <span asp-validation-for="CookTime" class="text-danger"></span><br />
            </div>

            <div id="Source">
                <label asp-for="Source" class="control-label"></label><br />
                <input asp-for="Source" type="text" />
                <span asp-validation-for="Source" class="text-danger"></span><br />
            </div>

            <div class="form-group">
                <input type="submit" value="AddRecipe" class="btn btn-primary" />

            </div>

        </form>
        @*
        <button type="submit" onclick="showInPopup('@Url.Action("AddTags", "Recipe", new { recId = "test" }, null)', 'Add Tags', event)"> Add more tags</button>
        *@
    </div>
</div>


<script src="~/js/AddMore.js"></script>
<script>
    function showInPopup(url, title, event) {
        event.preventDefault();
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $('#form-modal .modal-body').html(res);
                $('#form-modal .modal-title').html(title);
                $('#form-modal').modal('show');
            }
        })
    }


</script>
<style>
    .onoffswitch {
        position: relative;
        width: 100px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }

    .onoffswitch-checkbox {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #999999;
        border-radius: 50px;
    }

    .onoffswitch-inner {
        display: block;
        width: 200%;
        margin-left: -100%;
        transition: margin 0.3s ease-in 0s;
    }

        .onoffswitch-inner:before, .onoffswitch-inner:after {
            display: block;
            float: left;
            width: 50%;
            height: 25px;
            padding: 0;
            line-height: 25px;
            font-size: 14px;
            color: white;
            font-family: Trebuchet, Arial, sans-serif;
            font-weight: bold;
            box-sizing: border-box;
        }

        .onoffswitch-inner:before {
            content: "ADDED";
            padding-left: 25px;
            background-color: #00BFFF;
            color: #FFFFFF;
        }

        .onoffswitch-inner:after {
            content: "";
            padding-right: 25px;
            background-color: #EEEEEE;
            color: #999999;
            text-align: right;
        }

    .onoffswitch-switch {
        display: block;
        width: 25px;
        margin: 0px;
        background: #FFFFFF;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 71px;
        border: 2px solid #999999;
        border-radius: 50px;
        transition: all 0.3s ease-in 0s;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }

    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 0px;
    }
</style>
@*
            <a onclick="showInPopup('@Url.Action("", "Recipe", )', 'Add Tag')" class="btn btn-success text-white">Add Tag</a>

        showInPopup = (url, title) => {
        $.ajax({
            type: "GET",
            url: url,
            success: function (res) {
                $('#form-modal .modal-body').html(res);
                $('#form-modal .modal-title').html(title);
                $('#form-modal').modal('show');
            }
        })
    }

        <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

        <a onclick="showInPopup('@Url.Action("AddTags", "Recipe", null, Context.Request.Scheme)', 'AddTags')" class="btn btn-success text-white">Add tags</a>

        $(document).ready(function () {

            $('.btn-block').click(function () {

                var url = $('#myModal').data('url');

                $.get(url, function (data) {

                    $("#myModal").html(data);
                    $("#myModal").modal('show');
                });
            });
        })
*@