@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post" asp-controller="Recipe" asp-action="AddRecipe">
    <button type="submit">
        <p>Make Recipe</p>
    </button>
</form>

<form asp-controller="GoogleSearch" asp-action="SearchPosts">
    <button>
        <p>Google Test</p>
    </button>
</form>

<form method="post" asp-controller="Recipe" asp-action="Index">
    <button type="submit">
        <p>Database testing</p>
    </button>
</form>

<form asp-controller="Recipe" asp-action="TagTest">
    <button>
        <p>Tag Testing</p>
    </button>
</form>

<form asp-controller="Recipe" asp-action="OCRResult">
    <button>
        <p>OCR Testing</p>
    </button>
</form>

<form asp-controller="Recipe" asp-action="Sorting">
    <button>
        <p>Sorting test</p>
    </button>
</form>

<form asp-controller="OCR" asp-action="Index" method="post" enctype="multipart/form-data">
    @*
        <button>OCR Testing 2.0</button>
    *@
    <label for="file">Upload Image</label>
    <input type="file" name="file" id="file" />
    <input type="submit" value="Upload" />
</form>